<div class="post-header">
	<div class="post-header-wrap global-padding{{#if is_custom}} is-center{{/if}}{{#if custom_image}} is-archive-image{{/if}}">
		<div class="post-header-content">
			{{^if is_custom}}
			{{^has visibility="public"}}<div class="post-tags global-tags">{{>members/visibility_label}}</div>{{/has}}
			{{/if}}
			{{#if custom_image}}
			<div class="archive-image global-image">
				{{>images/other_image other_image=custom_image alt=name}}
			</div>
			{{/if}}
			<h1 class="post-title global-title">{{title}}</h1>
			{{#if archive_page}}
			{{#has any="location,website,facebook,twitter"}}
			<div class="archive-social">
				{{#if location}}
				<span>{{>icons/site/pin}}{{location}}</span>
				{{/if}}
				{{#if website}}
				<a href="{{website}}" target="_blank" rel="noopener">{{>icons/site/link}}{{t "Website"}}</a>
				{{/if}}
				{{#if facebook}}
				<a href="{{facebook_url}}" target="_blank" rel="noopener">{{>icons/social/facebook}}Facebook</a>
				{{/if}}
				{{#if twitter}}
				<a href="{{twitter_url}}" target="_blank" rel="noopener">{{>icons/social/x}}X/Twitter</a>
				{{/if}}
			</div>
			{{/has}}
			{{/if}}
			{{#if custom_excerpt}}
			<p class="post-excerpt global-excerpt">{{custom_excerpt}}</p>
			{{else if featured_page}}
			<p class="post-excerpt global-excerpt">{{t "A curated list of the best gravel cycling and bikepacking routes in the area."}}</p>
			{{else if membership_page}}
			<p class="post-excerpt global-excerpt">{{t "Join {site-title} and we'll update you with new routes, events and happenings around Hastings County" site-title=@site.title}}</p>
			{{/if}}
			{{#if tags}}<div class="post-tags global-tags">{{tags limit="all" separator=""}}</div>{{/if}}
			{{^if archive_page}}
			{{^is "page"}}
			<div class="post-meta-wrap">
				{{>meta show_all_option=true}}
				{{>posts/share is_header=true}}
			</div>
			{{/is}}
			{{/if}}
		</div>
		{{^if is_custom}}
		{{^has tag="routes"}}
		{{^match @custom.feature_image_orientation "Disable"}}
		{{#if feature_image}}
		<div class="post-header-image{{#match @custom.feature_image_orientation "Landscape wide"}} is-wide{{else match @custom.feature_image_orientation "Natural wide"}} is-wide{{else match @custom.feature_image_orientation "Panoramic wide"}} is-wide{{/match}}">
			<figure>
				<div class="global-image global-image-orientation global-radius{{#match @custom.feature_image_orientation "Natural"}} is-natural{{else match @custom.feature_image_orientation "Panoramic"}} is-panoramic{{/match}}{{#match @custom.feature_image_orientation "Natural wide"}} is-natural{{else match @custom.feature_image_orientation "Panoramic wide"}} is-panoramic{{/match}}">
				{{>images/post_image}}
				</div>
				{{#if feature_image_caption}}
				<figcaption>{{feature_image_caption}}</figcaption>
				{{/if}}
			</figure>
		</div>
		{{/if}}
		{{/match}}
		{{/has}}
		{{/if}}
	</div>
</div>