{{^match @custom.style_for_featured_section "Disable"}}
{{#if @custom.slug_for_see_all_featured_button}}
{{#get "posts" limit="3" filter="featured:true" include="authors" as |featured|}}
{{#if featured}}
<small class="global-subtitle">{{t "Featured posts"}}</small>
<div class="featured-section global-radius{{#match @custom.style_for_featured_section "Gray"}} is-gray{{else match @custom.style_for_featured_section "Accent color"}} global-dynamic-color is-accent{{else match @custom.style_for_featured_section "Accent color/Gray"}} is-accent-gray{{else match @custom.style_for_featured_section "Gray/Accent color"}} is-gray-accent{{/match}}">
	{{#foreach featured to="1"}}{{>images/background_cover custom_cover=feature_image is_featured=true}}{{/foreach}}
	<small class="featured-subtitle{{#match @custom.style_for_featured_section "Accent color/Gray"}} global-dynamic-color{{/match}}">{{t "Stories from Hastings County"}}</small>
	<h2 class="featured-title{{#match @custom.style_for_featured_section "Accent color/Gray"}} global-dynamic-color{{/match}}">{{t "Your Journey Starts Here:"}}</h2>
	<div class="featured-content{{#foreach posts}}{{#if @last}} items-{{@number}}{{/if}}{{/foreach}}{{#match @custom.style_for_featured_section "Gray/Accent color"}} global-dynamic-color{{/match}}">
		{{#foreach featured}}
		{{>item show_excerpt=false is_featured=true}}
		{{/foreach}}
	</div>
	<div class="featured-button-wrap">
		<a href="{{@site.url}}{{@custom.slug_for_see_all_featured_button}}" class="featured-button{{#match @custom.style_for_featured_section "Accent color/Gray"}} global-dynamic-color{{/match}}">{{t "See all featured posts →"}}</a>
	</div>
</div>
{{/if}}
{{/get}}
{{else}}
{{#get "posts" limit="3" filter="featured:true" include="authors" as |featured|}}
{{#if featured}}
<small class="global-subtitle">{{t "Featured posts"}}</small>
<div class="featured-section global-radius{{#match @custom.style_for_featured_section "Gray"}} is-gray{{else match @custom.style_for_featured_section "Accent color"}} global-dynamic-color is-accent{{else match @custom.style_for_featured_section "Accent color/Gray"}} is-accent-gray{{else match @custom.style_for_featured_section "Gray/Accent color"}} is-gray-accent{{/match}}">
	{{#foreach featured to="1"}}{{>images/background_cover custom_cover=feature_image is_featured=true}}{{/foreach}}
	<small class="featured-subtitle{{#match @custom.style_for_featured_section "Accent color/Gray"}} global-dynamic-color{{/match}}">{{t "Stories from Hastings County"}}</small>
	<h2 class="featured-title{{#match @custom.style_for_featured_section "Accent color/Gray"}} global-dynamic-color{{/match}}">{{t "Your Journey Starts Here:"}}</h2>
	<div class="featured-content{{#foreach posts}}{{#if @last}} items-{{@number}}{{/if}}{{/foreach}}{{#match @custom.style_for_featured_section "Gray/Accent color"}} global-dynamic-color{{/match}}">
		{{#foreach featured}}
		{{>item show_excerpt=false is_featured=true}}
		{{/foreach}}
	</div>
</div>
{{/if}}
{{/get}}
{{/if}}
{{/match}}