<div class="loop-section global-padding">
  {{#if is_archive}}
    {{^if label}}
      <small class="global-subtitle">
        {{#if is_featured}}
          {{plural pagination.total empty=(t "No posts") singular=(t "1 featured post") plural=(t "% featured posts")}}
        {{else}}
          {{plural pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}
        {{/if}}
      </small>
    {{/if}}
    {{#if label}}
      <small class="global-subtitle">{{label}}</small>
    {{/if}}
    <div class="loop-wrap">
      {{#foreach posts}}
        {{>item show_excerpt=true}}
      {{/foreach}}
    </div>
  {{else}}
    {{^is "paged"}}
      <small class="global-subtitle">{{t "What’s new?"}}</small>
      <div class="loop-wrap is-top">
        {{#get 'posts' filter='featured:true+tags:-[hash-events,hash-POI]' include='tags,authors' limit='1' }}
          {{#foreach posts}}
            {{^has tag="-hash-events"}}
              {{>item show_excerpt=true show_all_option=true is_first=true is_top=true}}
            {{/has}}
          {{/foreach}}
        {{/get}}
       
        {{^match @custom.hero_options "Subscribe form"}}
          {{>members/subscribe_form is_box=true}}
        {{/match}}
		
     
		
        {{>community-events}}
        </div>
      {{>featured}}
      {{#get "posts" filter="tag:routes+tags:-[hash-Guides,hash-events,hash-POI]" include="tags,authors" limit="9"}}
        {{#if posts}}
          <small class="loop-subtitle global-subtitle">{{t "Routes"}}</small>
          <div class="loop-wrap">
            {{#foreach posts}}
              {{>item show_excerpt=true}}
            {{/foreach}}
          </div>
        {{/if}}
      {{/get}}
    {{else}}
      <div class="loop-wrap">
        {{#foreach posts}}
          {{>item show_excerpt=true}}
        {{/foreach}}
      </div>
    {{/is}}
  {{/if}}
</div>