{{!< default}}
{{#post}}
{{^is "page"}}
{{#if access}}<progress class="post-progress"></progress>{{/if}}
{{/is}}
<article class="post-section route-post is-sidebar">
	{{#match @page.show_title_and_feature_image}}
	{{>posts/header}}
	{{/match}}

	<div class="post-wrap global-padding">
		{{!-- Stats sidebar: absolutely positioned like .post-sidebar, sticky inside --}}
		<div class="post-sidebar route-sidebar">
			<div class="route-stats subscribe-form is-sticky" id="route-stats-sidebar">
				<h2 class="route-stats-title">At a Glance</h2>
				<dl class="route-stats-list" id="route-stats-list"></dl>
				<div class="route-stats-cta"></div>
			</div>
		</div>

		{{!-- Mobile stats: injected above content, hidden on desktop --}}
		<div class="route-stats-mobile" id="route-stats-mobile"></div>

		<div class="post-content route-post-content">
			{{#if access}}
			{{content}}
			{{^is "page"}}
			{{>posts/share}}
			{{/is}}
			{{else}}
			{{#if html}}
			<div class="members-cta-teaser">
				{{{html}}}
			</div>
			{{/if}}
			{{>members/cta}}
			{{/if}}
		</div>
	</div>
</article>

{{^is "page"}}
{{>posts/navigation}}
{{>posts/comments}}
{{/is}}

{{/post}}

{{#contentFor "fonts_css"}}
<link rel="stylesheet" type="text/css" href="{{asset "css/routes.css"}}">
{{/contentFor}}

{{#contentFor "script_js"}}
<script src="{{asset "js/routes.js"}}"></script>
{{/contentFor}}
